@charset "utf-8";

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 20px;
    --color_background: #F2F2F2;
    --color_t: #033d00;
    --font_h: "Arvo", serif;
    --font_t: "Figtree", sans-serif;
    --color_bs1: #5FFA87;
    --color_bs2: #6EFA5F;
    --color_4: #B9FAB2;
    --color_8: #eeb346;

    --color_1: #F0FA5F;
    --color_2: #AFFA5F;
    --color_3: #5FFABC;
    --color_5: #708f00;
    --color_6: #3e3e3e;
    --color_7: #A61F77;
}

html{
    height: 100%;
}

body{
    background-color: var(--color_background);
    font-family: var(--font_t);
    min-height: 100vh;
    width: 100vw;
    max-width: 1920px;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15vh 1fr 15vh;
    grid-template-areas:
        "cabecera"
        "contenido-principal"
        "pie-pagina";
}

.square{
    text-align: center;
    border-radius: 25px;
    box-shadow: inset -20px -20px 60px var(--color_bs1), inset 20px 20px 60px var(--color_bs2);
}

header:not(section > header){
    grid-area: cabecera;
    background-color: var(--color_background);
    font-family: var(--font_h);
    display: grid;
    place-content: center;
    place-items: center;
}

h1{
    font-size: 1.3rem;
    color: var(--color_t);
    padding: 1rem;
}

main{
    grid-area: contenido-principal;
    width: 95%;
    margin: 0 auto;
    font-family: var(--font_t);
    color: var(--color_t);
    font-size: 1rem;
}

#contenedor, #ciudadUsuario{
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
    justify-items: center;
}

section header h2{
    display: none;
}

article{
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    place-items: center;
    padding: 2rem;
}

article p{
    padding-top: 0.35rem;
}

#caja3, #caja6, #caja1, #caja4{
    font-size: 1rem;
}

#caja6{
    margin-bottom: 0.5rem;
}

#busqueda{
    padding: 1rem;
}

button{
    background-color: var(--color_8);
    color: var(--color_t);
    width: 40%;
    margin: auto;
    padding: 0.5rem 1rem;
    font-size: 1.15rem;
    font-weight: 550;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    border-radius: 25px;
    border-color: var(--color_4);
}

input{
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    margin-bottom: 1rem;
    border-color: var(--color_4);
}

footer{
    grid-area: pie-pagina;
    font-size: 1rem;
    font-weight: 450;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
}

abbr{
    text-decoration: none;
}

.noError{
    visibility: hidden;
}

.error{
    visibility: visible;
    color: #ff0000;
    font-weight: 500;
}

.borderror{
    border: 2px solid #ff0000;
}


/* Media Queries */
@media only screen and (min-width: 1024px){
    #contenedor, #ciudadUsuario{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
        margin-top: 1rem;
    }

    #caja1{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #caja2{
        grid-column: 2/3;
        grid-row: 1/2;
    }

    #caja3{
        grid-column: 3/3;
        grid-row: 2/-3;
    }
    
    #busqueda{
        grid-column: 1/4;
        grid-row: 1/2;
    }

    #caja4{
        grid-column: -4/-3;
        grid-row: 2/3;
    }

    #caja5{
        grid-column: -3/-2;
        grid-row: 2/3;
    }

    #caja6{
        grid-column: -2/-1;
        grid-row: 2/3;
    }
}
