@charset "utf-8";

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4158d0;
    background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
    font-family: "Labrada", serif;
    font-size: 1.5rem;
}

#contenedor{
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    gap: 2rem;
}

#contenedor > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    border-radius: 25px;
    box-shadow: inset -20px -20px 60px #007dc6, inset 20px 20px 60px #00a9ff;
    color: #fff;
}

.search-container{
    width: 40%;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    font-family: "Labrada", serif;
}

#entrada{
    font-size: 1.25rem;
    font-family: "Labrada", serif;
    

}

#search{
    font-size: 1.25rem;
    font-family: "Labrada", serif;
}

@media only screen and (min-width: 1024px){
    #contenedor{
        grid-template-columns: repeat(3,1fr);
    }
}